version: "3"
services:
  integration-deps:
    image: busybox
    depends_on:
      - postgres
      - bitcoind
      - bitcoind-signer
      - lnd
      - otel-agent
      - fulcrum
      - mempool-backend
  postgres:
    image: postgres:14.1
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=pg
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 5s
      retries: 5
  e2e-tests:
    image: us.gcr.io/galoy-org/rust-concourse
    depends_on:
      - postgres
    command: [ "make", "e2e-tests-in-container" ]
    working_dir: /repo
    volumes:
      - ./:/repo
      - /var/run/docker.sock:/var/run/docker.sock
      - cargo-cache:/usr/local/cargo
    environment:
      - HOST_PROJECT_PATH=${PWD}
      - BRIA_HOME=/bria
      - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
      - BRIA_CONFIG=docker
      - RUST_LOG=error
      - DATABASE_URL=postgres://user:password@postgres:5432/pg
      - PG_CON=postgres://user:password@postgres:5432/pg
      - PG_HOST=postgres
      - BITCOIND_HOST=bitcoind
      - BITCOIND_SIGNER_ENDPOINT=https://bitcoind-signer:18443
      - LND_HOST=lnd
      - ELECTRUM_HOST=fulcrum
  integration-tests:
    image: us.gcr.io/galoy-org/rust-concourse
    depends_on:
      - integration-deps
    command: [ "make", "integration-tests-in-container" ]
    environment:
      - DATABASE_URL=postgres://user:password@postgres:5432/pg
      - PG_HOST=postgres
      - BITCOIND_HOST=bitcoind
      - BITCOIND_SIGNER_ENDPOINT=https://bitcoind-signer:18443
      - LND_HOST=lnd
      - ELECTRUM_HOST=fulcrum
    working_dir: /repo
    volumes:
      - ./:/repo
      - cargo-cache:/usr/local/cargo
  otel-agent:
    image: otel/opentelemetry-collector-contrib:0.57.2
    command: [ "--config=/etc/otel-agent-config.yaml" ]
    environment:
      - HONEYCOMB_DATASET=${HONEYCOMB_DATASET}
      - HONEYCOMB_API_KEY=${HONEYCOMB_API_KEY}
    volumes:
      - ./dev/otel-agent-config.yaml:/etc/otel-agent-config.yaml
  bitcoind:
    image: lncm/bitcoind:v24.0.1
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/bitcoind/bitcoin.conf:/data/.bitcoin/bitcoin.conf
  bitcoind-signer:
    image: lncm/bitcoind:v24.0.1
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/bitcoind/bitcoin.conf:/data/.bitcoin/bitcoin.conf
    depends_on: [ bitcoind ]
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        bitcoind -connect=bitcoind:18444
  lnd:
    image: lightninglabs/lnd:v0.15.4-beta
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd.wallet.db:/root/.lnd/wallet.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd.macaroons.db:/root/.lnd/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd.admin.macaroon:/root/.lnd/admin.macaroon
    depends_on: [ bitcoind ]
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        mkdir -p /root/.lnd/data/chain/bitcoin/regtest/
        cp /root/.lnd/wallet.db /root/.lnd/data/chain/bitcoin/regtest/wallet.db
        cp /root/.lnd/macaroons.db /root/.lnd/data/chain/bitcoin/regtest/macaroons.db
        cp /root/.lnd/admin.macaroon /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
        /bin/lnd
  fulcrum:
    image: cculianu/fulcrum:latest
    depends_on: [ bitcoind ]
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/fulcrum/fulcrum.conf:/fulcrum.conf
      - ${HOST_PROJECT_PATH:-.}/dev/fulcrum/tls.key:/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/fulcrum/tls.cert:/tls.cert
    environment:
      - DATA_DIR=/db
      - SSL_CERTFILE=/tls.cert
      - SSL_KEYFILE=/tls.key
    command: [ "Fulcrum", "/fulcrum.conf" ]
  mempool-backend: 
    image: mempool/backend
    depends_on: [ bitcoind ]
    environment:
      MEMPOOL_BACKEND: "none"
      CORE_RPC_HOST: bitcoind
      CORE_RPC_PORT: "8332"
      CORE_RPC_USERNAME: "rpc_user"
      CORE_RPC_PASSWORD: "rpc_password"
      DATABASE_ENABLED: "false"
volumes:
  cargo-cache:
